body {
  margin: 0;
}
/* Add CSS stylesheet */

/* Hide html class */
.hidden {
    display: block;
  }
/* End of Hide html class */

/* Banner CSS */
#banner
{
    
    background-color: rgb(221, 221, 221);
    width: 100vw;
    height:10%;
    text-align: center;
}

#title
{
    display: inline-block;
    color:black;
    font-weight: 900;
    font-size: 200%;
    font-family: sans-serif;
    padding-top:2.2%;
    padding-bottom:2.2%;
    padding-left: 21%;
    position: relative;
}

#searchbar
{
    display:inline-block;
    position: relative;
    left:19%;
    padding-top: 1%;
}
#searchText
{
    font-size: 120%;
   
}

/* End of Banner CSS */

/* start of static left-side table */
.mark {
    background-color: black;
}

.leftSide
{
    height: 100vw;
}

.left-table {
    /* position: absolute;
    top: 130px;
    left: 0;
    width: 15%;
    height: 100vw;
    border-right: 3px dotted black; */

    position: relative;
    left: 0;
    width: 15%;
    height: 100vw;
    border-right: 3px dotted black;
}
/* end of static left-side table */

/* start of static right-side table */
.defaultPos {
    position: absolute;
    top: 130px;
    left: 16%;
    width: 80%;
    height: 100%;
}

.ask-q-button {
    background-color: rgb(48, 144, 226);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    margin-right: 10px;
}

.cell {
    float: left;
    padding: 10px;
    border-right: 1px solid black;
}
  
.row {
    border: 1px solid black;
    overflow: hidden;
}

.three-cell {
    border: 1px solid black;
    display: inline-block;
    padding: 3;
}

/* end of static right-side table */



/* Start of Question Form CSS */

.questionInfo
{
    font-style: italic;
    padding-top: 5px;
}

.formEntry
{
    display: block;
    width: 100%;
}
.formText
{
    width: 600px;
    font-size: 120%;
}
.formTitle
{
    font-size: 150%;
}

.textInput
{
    padding-bottom: 10%;
    resize: none;
}
.formButton
{
    background-color: rgb(48, 144, 226);
    color: white;
    height: 4%;
}

.invalidInput
{
    color:red;
}
#qRequired
{
    display: inline-block;
    color: red;
    padding-left: 300px;
}
/* End of Question Form CSS */

/* HomePage CSS*/
.tagsCss
{
    background-color: gray;
    color: white;
    border-radius: 3px;
    border: 1px solid black;
    padding: 1px 10px 1px 10px;
    font-size: large;
}


.insertedRow{
    display: flex;
    flex-direction: row;
    border-top: 3px dotted black;

}

.newCellOne{
    width: 200px;
    height: 100px;
    align-items: center;
}

.newCellTwo{
    width: 1000px;
    height: 100px;
    color: blue;
    font-size: 24px;
}

.newCellFour{
    width: 105px;
    color: red;
}

.newCellFive{
    width: 105px;
}

/* End of HomePage CSS*/

.tagHeader
{
    display: inline-block;
}
.defaultStartTable
{
    position: absolute;
    left: 16%;
    width: 80%;
    height: 100%;
    top: 300px;
}
.flexAnswerDisplay
{
    display: flex;
    justify-content: space-around;
}

.flexContainerRow
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}

.flexItemTag
{

    border-style: dotted;
    width:15%;
    height: 100px;
 

}

.flexItemTagEmpty
{
    visibility: hidden;
    width:15%;
}

.tagWrapper
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 25px;
}

.flexTagName
{
    color:rgb(26, 115, 225);
    text-decoration: underline;
}

/* Answer Page Css*/
.question-info-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-info-row2 {
flex: 1;
text-align: left;
}

.question-info-row3 {
text-align: center;
}

.question-info-row4 {
text-align: right;
}

.numAnswersCss{
    width: 400px; 
    height: auto; 
}

.questionApCss{
    max-width: 100%; /* set the maximum width of the text element */
    white-space: pre-wrap; /* allow the text to wrap */
    overflow-wrap: break-word; /* break long words */
}
.askedBy{
    color: red;
}
.numAnswersCss{
    padding-top: 3%;
    max-width: 100px; 
    height: 100px;
    font-weight: bold; 
    font-size: 120%;
}
.questionApCss{
    padding-top: 3%;
    white-space: pre-wrap; /* allow the text to wrap */
    overflow-wrap: break-word; /* break long words */
    text-align: center;
    font-size: 120%;
    font-weight: bold; 
}
.askQuestionButtonAp{
    padding-top: 3%;
}
.viewsBox{
    flex: 1;
    text-align: left;
    padding-top: 3%; 
    height: 100px;
    width: 100px;
    font-weight: bold; 
    font-size: 120%;
    width: 20%;
    float: left;
}
.textBox{
    padding-left: 20%;
    padding-right: 20%;
    max-width: 100%; 
    white-space: pre-wrap; 
    overflow-wrap: break-word; 
    text-align: left;
    width: 60%;
    float: center;
    font-size: 110%;
}
.timeBox{
    width: 20%;
    float: right;
}

.askedBy{
    color: red;
}

.answerToQuestion{
    display: flex;
    flex-direction: row;
    border-top: 3px dotted black;
}

.textBoxAnswer{
    padding-top: 5%;
    padding-right: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    font-size: 120%;
    width: 80%;
    float: left;
}

.timeBoxAnswer{
    padding-top: 5%;
    padding-right: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    font-size: 110%;
    width: 20%;
    float: right;
}
.ansBy{
    color:green;
}
/* End of Answer Page Css*/

/* For the leftSide highlighted with a gray background */
.selectedLeftSideTable {
    background-color: grey;
}

/* End of leftSide highlighted with a gray background */